.search-bar {
	margin: 2rem auto;
	width: fit-content;
	background-color: rgb(255, 184, 52);
	padding: 0.5rem;
	border-radius: 2rem;
}

.search-bar > input {
	padding: 0.5rem 0.75rem;
	border-radius: 2rem 0 0 2rem;
	border: none;
}

.search-bar > button:nth-child(2) {
	padding: 0.5rem 0.75rem;
	border: none;
	background-color: rgb(197, 24, 24);
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.search-bar > button:nth-child(3) {
	padding: 0.5rem 1rem 0.5rem 0.75rem;
	border-radius: 0 2rem 2rem 0;
	border: none;
	background-color: rgb(14, 14, 14);
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.search-bar > input:focus {
	outline: none;
}
